body { 
  margin: 0;
}

main { 
}

section {
  padding: 4rem 2rem;
}

h1 { 
  margin-top: 0;
}

h2 { 
  margin-top: 0;
}

p { }

#story {
  position: relative;
}

#story .content {
  position: relative;
  z-index: 1;

  max-width: 700px;
  margin: 0 auto;

  color: white;
}

#story .background {
  position: absolute;
  inset: 0;

  background: #111;
}

#hero { 
  min-height: 50vh;
}

#work { 
  background-image;
  background-attachment: fixed;
  background: #f5f5f5;
}

#services { 
  background: #fafafa;
}

#writing {
  background: #f0f0f0;
}

#contact {
  background: #eaeaea;
}

